extends layout

block content
  
  div#apod
  
    form(method="GET" v-if="!submitted")#exampleForm
    
      h1= title
      
      p( v-if="isVueWorking" v-cloak ) {{isVueWorking}}
      p( v-else v-cloak ) Vue JS isn't working for some reason...
      
      p Click the button below to generate the 'Image of the Day' from the NASA API.
  
      button(for="exampleForm" @click.prevent="getApod") Get APOD
  
    div(v-else v-cloak)
      h2 {{ apodtitle }}
      p {{ apoddate }}
      p {{ apodexplanation }}
      img( :src="apodurl" :alt="apodtitle")

  //- code to prevent console error as using multiple vue instances for clean code
  div#app
  div#asteroids
