extends layout

block content
    div#app( v-if="isVueWorking" )
      h1= title
      
      ul
        li This NodeJS/Express project makes calls to Nasa API's
        li Helmet is used for CSP Security

      a(href="/apod") Astronomy Picture of Day
      br
      br
      a(href="/asteroids") Asteroids

      //- code to prevent console error as using multiple vue instances for clean code
      div#apod
      div#asteroids
