// Font weights
$light: 100;
$regular: 400;
$bold: 600;

// Base Font
$base-font-family: sans-serif;
$base-font-weight: $regular;
$base-font-size: 13px;
$base-line-height: 1.4;

// Fixed Font
$fixed-font-family: monospace;
$fixed-font-size: 85%;
$fixed-line-height: $base-line-height;

// Headings
$header-font-weight: $bold;

@import "modules/all";

[v-cloak]{display:none;}

body{
  padding:50px;
}
form{
  margin-top:30px;
}
.input-field{
  clear:both;
  padding:5px;
  width:100%;
  margin:0 auto;
}

label{
  clear:both;
  text-align:left;
  width:100%;
  &.checkboxlabel{
    clear:none;
    width:auto;
    margin-right: 5px;
    margin-left: 30px;
    &.first{
      margin-left:0;
    }
  }
  &.radiolabel{
    clear:none;
    width:auto;
    margin-right: 5px;
    margin-left: 30px;
    &.first{
      margin-left:0;
    }
  }
}
